<div class="bg1">

<div class="d-flex justify-content-center" style="padding-top: 40px">
    <h4>Trainer Profile</h4>
</div>


<div class="container" >

    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:200px; height:100px; border-radius: 2rem; color: rgb(127, 15, 192)">
            <!-- <span style="padding: 15px; color: rgb(127, 15, 192)" class="fa fa-clock-o fa-5x"></span> -->
            <div class="card-body">
                <h4 class="card-title">Trainings Ongoing</h4>
                <p class="card-text">See ongoing Trainings</p>
                <a href="train_cur.html" class="btn btn-dark button1">View</a>
            </div>
        </div>
    </div>


    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:200px; height:100px; border-radius: 2rem; color: rgb(127, 15, 192)">
            <!-- <span style="padding: 15px; color: rgb(127, 15, 192)" class="fa fa-thumbs-o-up fa-5x"></span> -->
            <div class="card-body">
                <h4 class="card-title">Trainings Completed</h4>
                <p class="card-text">See completed courses</p>
                <a href="train_completed.html" class="btn btn-dark button1 ">View</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:200px; height:100px; border-radius: 2rem; color: rgb(127, 15, 192)">
            <!-- <span style="padding: 15px; color: rgb(127, 15, 192)" class="fa fa-edit fa-5x"></span> -->
            <div class="card-body">
                <h4 class="card-title">Edit Skills</h4>
                <p class="card-text">Edit the technologies provided.</p>
                <a href="train_skill.html" class="btn btn-dark button1">View</a>

            </div>
        </div>
    </div>

</div>


</div>